body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #39c7ff;
  background-image: url("./assets//Stars.svg");
  background-repeat: no-repeat;
  background-position: center 15%;
}

@media only screen and (max-width: 1024px) {
  body {
    background-position: center 15%;
    background-size: 90%;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
